*.pyc
*.egg-info
_static
_templates
_build
.idea/*
*.egg-info/*
*.pyc
.DS_Store
.pytest_cache/
*.swp
*.save
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.ipynb
.ipynb_checkpoints/
dev/logs/
*.bullet
*.txt
!local/perls2_local_control_pc/redis_passfile.txt
!p27_requirements.txt

#Media
*.mp4

# Data storing
*.npz